@import "./quasar.variables.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';

body {
  word-break: break-all;
}

ul {
  padding-left: 0rem;
}
li {
  list-style: none;
}
#title {
  font-weight: 700;
}
.pre-line {
  white-space: pre-line;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin: 0.9rem 0;
}

h3 {
  margin: 0.8rem 0;
}

h4 {
  margin: 0.7rem 0;
}

h5 {
  margin: 0.6rem 0;
}

h6 {
  margin: 0.5rem 0;
}
